@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

// Phoenix Colors
$dark-red: #cb2127;
$red: #ee2224;
$yellow: #ffcc00;
$orange: #f26722;
$black: #202020;

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: $bg;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .codemirror {
    width: 80vw;
  }
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  &.main-btn {
    font-weight: 600;
    color: $text;
    // text-transform: uppercase;
    padding: 1.25em 2em;
    background: $pink;
    border: 2px solid $pink-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    display: inline-block;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-pink;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $pink;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      background: $pink;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}

.input {
  display: flex;
  box-sizing: border-box;
  // align-self: flex-end;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  min-height: 10vh;
  min-width: 100%;
  background: $bg;
  color: $text;
  // text-transform: uppercase;
  padding: 1.25em 2em;
  background: $light-pink;
  border: 2px solid $pink-border;
  border-radius: 0.75em;
  display: inline-block;
}

.input-form {
  box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  min-height: 50vh;
  background: $bg;
  color: $text;
  // text-transform: uppercase;
  padding: 1.25em 2em;
  background: $light-pink;
  border: 2px solid $pink-border;
  border-width: 1px;
  border-radius: 0.75em;
  display: inline-block;
}

.header {
  font-family: 'Rubik', sans-serif;
  font-size: 5rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: $light-pink;
  text-overflow: clip;
}

.toggle-history-text {
  cursor: pointer;
}
