@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

$bg: rgb(253, 236, 205);
$text: #382b22;
$light-grey: rgb(230, 230, 230);
$grey: rgb(218, 218, 218);
$dark-grey: rgb(189, 189, 189);
$grey-border: grey;
$grey-shadow: rgb(218, 218, 218);

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: $bg;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .codemirror {
    width: 80vw;
  }
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  &.main-btn {
    font-weight: 600;
    color: $text;
    padding: 1.25em 2em;
    background: $grey;
    border: 2px solid $grey-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    display: inline-block;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-grey;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $grey-border, 0 0.625em 0 0 $grey-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $grey;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px $grey-border, 0 0.5em 0 0 $grey-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      background: $grey;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow: 0 0 0 2px $grey-border, 0 0 $grey-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}

.input {
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 0 0 0 2px $grey-border, 0 0.625em 0 0 $grey-shadow;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  min-height: 10vh;
  min-width: 100%;
  background: $bg;
  color: $text;
  padding: 1.25em 2em;
  background: $light-grey;
  border: 2px solid $grey-border;
  border-radius: 0.75em;
  display: inline-block;
}

.input-form {
  box-shadow: 0 0 0 2px $grey-border, 0 0.625em 0 0 $grey-shadow;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  min-height: 50vh;
  width: 100vh;
  background: $bg;
  color: $text;
  padding: 1.25em 2em;
  background: $light-grey;
  border: 2px solid $grey-border;
  border-width: 1px;
  border-radius: 0.75em;
  display: inline-block;
}

.header {
  font-family: 'Rubik', sans-serif;
  font-size: 5rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: $light-grey;
  text-overflow: clip;
}

.toggle-history-text {
  cursor: pointer;
}

.logo {
  height: 120px;
  width: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}